<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-image: linear-gradient(to right, rgb(231, 44, 44), rgb(48, 202, 48));
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
    }
</style>

<body>
    <center>
        <p>PLZ SELECT THE IMAGE</p>
        <br>
    </center>
    <form action="prediction" method="POST" enctype="multipart/form-data">
        <center><input type="file" id="myfile" name="myfile"></center>
        <br> <br>
        <center><input type="submit" name="btn"></center>

    </form>
</body>

</html>